/* Default button */

.button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #e0e0e0;
  color: #3f3f3f;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #aeaeae;
}

/* Outline Button */

.outline {
  border: 1px solid #3d5afe;
  color: #3d5afe;
  background: none;
  box-shadow: none;
}

.outline:hover,
.outline:focus {
  background: rgba(41, 98, 255, 0.1);
}

/* Text Button */

.text {
  background: none;
  box-shadow: none;
  color: #3d5afe;
}

.text:hover,
.text:focus {
  background: rgba(41, 98, 255, 0.1);
}

/* Disable Shadow */
.disable-shadow {
  box-shadow: none;
}

/* Disable Button */
.disabled {
  pointer-events: none;
  color: #9e9e9e;
}

/* Button Size */
.size-sm {
  padding: 6px 12px;
}

.size-md {
  /* default */
  padding: 8px 16px;
}

.size-lg {
  padding: 11px 22px;
}

/* Button colors */
.default {
  background-color: #e0e0e0;
  color: #3f3f3f;
}

.default:hover,
.default:focus {
  background-color: #aeaeae;
}

.primary {
  background-color: #2962ff;
  color: white;
}

.primary:hover,
.primary:focus {
  background-color: #0039cb;
}

.secondary {
  background-color: #455a64;
  color: white;
}

.secondary:hover,
.secondary:focus {
  background-color: #1c313a;
}

.danger {
  background-color: #d32f2f;
  color: white;
}

.danger:hover,
.danger:focus {
  background-color: #9a0007;
}

/* Icons */
.icon::before {
  display: inline-block;
  font-style: solid;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.start-icon.local_grocery_store::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  padding-right: 10px;
}

.end-icon.local_grocery_store::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  padding-left: 10px;
}
